<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">
<test name="verifyLoginWithInvalidCredentails">
<classes>
<class name="com.framework.automation.framework.homePage.VerifyloginWithInvalidCredentails"></class>
</classes>
</test>
<test name="verifyLoginWithValidCredentails">
<classes>
<class name="com.framework.automation.framework.homePage.VerifyloginWithValidCredentails"></class>
</classes>
</test>
</suite>
